--extra-index-url https://download.pytorch.org/whl/cu117

certifi
charset-normalizer
contourpy
cycler
einops
fonttools
ftfy
idna
imageio
kiwisolver
matplotlib
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
opencv-python
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
regex
requests
scikit-image
scipy
six
tifffile
torch==1.13.1+cu117
torchvision
torchaudio
tqdm
typing_extensions
urllib3
wcwidth
